@model IEnumerable<Category>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            @foreach (var category in Model)
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ProductList", "Films", new { categoryName = category.Name })">@category.Name</a>
                </li>
            }
            <li>
                <a class="nav-link btn btn-primary" href="@Url.Action("AllFilms", "Films")">Wszystkie</a>
            </li>

            <li>
                @using(Html.BeginForm("Search", "Films"))
                {
                    @Html.TextBox("tekst") 
                    <button type="submit" class="btn btn-outline-secondary">Szukaj</button>
                }
            </li>

            <li>
                <a class="btn btn-secondary" href="@Url.Action("Register", "Account")">Rejestruj</a>
            </li>
            <li>
                @if( User.Identity.IsAuthenticated )
                {
                    <a class="btn btn-danger" href="@Url.Action("Logout", "Account")">Wyloguj</a>

                }
                else
                {
                    <a class="btn btn-warning" href="@Url.Action("Login", "Account")">Zaloguj</a>

                }
            </li>
        </ul>
    </div>
</nav>