@model Film

<table>
	<tr>
		<td>
			<h2> @Model.Category.Name </h2>
			@(await Component.InvokeAsync("SideMenu", new { categoryName = Model.Category.Name }))
		</td>
		<td>
			<ul>
				<li>Tytuł: @Model.Title</li>
				<li>Reżyser: @Model.Director</li>
				<li>Cena: @Model.Price zł</li>
				<li>Opis: @Model.Desc</li>
			</ul>
		</td>
	</tr>
</table>